<!DOCTYPE html>
<html>

<head>
    <title>EYEIN</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>EYEIN</h1>
        <div class="view">
            <img id="image_view" src="/static/images/icon.png" />
            <video id="video_view"></video>
        </div>
        <p id="info_label">객체를 감지하려면 "시작" 버튼을 누르세요.</p>
        <div class="button_wrap">
            <button id="toggle">시작</button>
            <button id="switchButton">카메라 전환</button>
            <button id="describeButton">설명</button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>
